@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/colors" as *;

.comments {
  padding: 0rem 1rem;

  @include tablet{
    padding-left: 2rem;
    padding-right:2rem;
  }

  &__header {
    font-size: 0.8125rem;
    font-weight: 700;
    line-height: 1.125rem;
  }

  &__input {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 0 1rem;
    border-bottom: 0.1rem solid $Mercury;

    &--img {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      object-fit: cover;
      margin: 1rem 1rem 0 0;
    }

    &--form {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      width: 100%;

      &--container {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include tablet {
          flex-direction: row;
          justify-content: space-around;
          gap: 1rem;
        }
      }

      &__textarea {
        width: 100%;
        height: 6rem;
        background-color: $Alabaster;
        border: 0.125rem solid $Mercury;
        border-radius: 0.25rem;
        margin-bottom: 1.5rem;
        resize: none;
        padding-top: 0;

        @include tablet{
          height: 2.4rem;
          resize: none;
        }

        &::placeholder {
          font-family: "Avenir";
          color: $BrainFlix-DarkBlack;
          padding-top: 0.5rem;
          padding-left: 0.5rem;
        }
      }

      &--btn {
        align-items: center;
        height: 2.25rem;
        width: 13rem;
        padding: 0.7rem 2rem;
        border-radius: 0.25rem;
        font-weight: 700;
        font-size: 0.75rem;
        color: $White;
        background-color: $BrainFlix-Blue;
        background-image: url(../../assets/Icons/add_comment.svg);
        background-repeat: no-repeat;
        width: 100%;
        border: none;
        background-position: 0;
        background-position-x: 0.5rem;

        @include tablet {
          height: 2.5rem;
          max-width: 9rem;
        }
      }
    }
  }
}
