@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/colors" as *;

.videoslist {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right:0.5rem;

  &__image {
    width: 8.5rem;
    height: 4.5rem;
    cursor: pointer;
    object-fit: cover;
    padding-right: 1rem;
    border-radius: 0.25rem;
  }

  &__container {
    padding-top: 1rem;
    flex-direction: row;
    display: flex;
  }
}
