@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/colors" as *;

.uploadhero {
  display: flex;
  flex-direction: column;
  border-top: 1px solid $Mercury;

  &__hero{
    margin: 0 1.5rem;
  }

  h1 {
    margin-left: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
  }

  p{
    margin-top: 0;
    text-transform: uppercase;
    color: #afafaf;
    font-weight: 600;
    line-height: 1.25rem;
    font-size: 0.8125rem;
  };

  img{
    border-radius: .25rem;
    margin-bottom: 1rem;
    width: 100%;
  }

  input{
    font-weight: 400;
    width: 100%;
  }

}
