@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/colors" as *;

.uploadhero {
  display: flex;
  flex-direction: column;
  border-top: 1px solid $Mercury;

  @include desktop {
    // flex-direction: column;
  }

  &__hero {
    margin: 0 1.5rem;

    @include desktop {
      margin: 0 2.5rem;
      flex-direction: row;
      display: flex;
    }
  }

  h1 {
    margin-left: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 0rem;

    @include tablet {
      margin: 2rem 2.5rem 1rem 2.5rem;
      padding-bottom: 2rem;
      border-bottom: 0.063rem solid $Mercury;
    }
  }

  p {
    margin-top: 0;
    text-transform: uppercase;
    color: #afafaf;
    font-weight: 600;
    line-height: 1.25rem;
    font-size: 0.8125rem;

    @include tablet {
      margin-bottom: 0.2rem;
    }
  }

  &__image {
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    width: 100%;

    @include tablet {
      width: 20rem;
    }
  }

  input {
    font-weight: 400;
    width: 100%;

    @include desktop {
      width: 53rem;
    }
  }

  &__hero--parttwo__textarea {
    @include tablet {
      height: 7.5rem;
    }
  }
  &__hero--parttwo {
    @include desktop {
      padding-left: 2rem;
    }
  }
}
