@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/colors" as *;

.videoplayer {
  background-color: rgba(0, 0, 0, 0.5);
}

.video-player {
  height: 10rem;
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}
