@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/colors" as *;

.videoplayer {
  background-color:$BrainFlix-DarkBlack;
  display: flex;
  justify-content: center;
  
  @include tablet{
    height: 100%;
  }

  @include tablet{
    padding: 0 10rem;
  }
}

.video-player {
  height: 10rem;
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  justify-content: center;

  @include tablet{
    object-fit:cover;
    height:30%;
    display: flex;
    justify-content: center;
    padding: 0 2.5rem;
    
  }
}
