@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/colors" as *;

.rcomments {
  border-bottom: 1px solid $Mercury;
  display: flex;
  padding: 0 1rem;
  flex-direction: column;

  @include tablet{
    padding-left: 2rem;
    padding-right:2rem;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    border-bottom: 0.0625rem solid $Mercury;

    &--left {
      display: flex;
      padding-right: 1rem;
      padding-top: 1rem;

      &__img {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        object-fit: cover;
        background-color: $Mercury;
      }
    }

    &--right {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      &__top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;

        &--name {
          color: $BrainFlix-Black;
          font-weight: 700;
          font-size: 0.8125rem;
          line-height: 1.125rem;
        }

        &--date {
          color: $Silver;
          font-size: 0.8125rem;
        }
      }

      &__comment {
        margin-top: 0;
        justify-content: flex-start;
        font-size: 0.8125rem;
        line-height: 1.125rem;
      }
    }
  }
}
